:root {
  --cor-escura-121619: rgba(18, 22, 25, 1);
  --collection-1-ROXO-ESCURO-CONTRASTE: rgba(71, 2, 108, 1);
  --collection-1-ROSA-CLARO-BEBE: rgba(200, 107, 250, 1);
  --collection-1-ROSA-BEM-CLARINHO-QUASE-BRANCO: rgba(228, 175, 255, 1);
  --collection-1-AMARELO-OVO: rgba(245, 207, 5, 1);
  --collection-1-AMARELO-MENOS-OVO: rgba(251, 227, 0, 1);
}
