@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Modak&family=Mogra&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

a{
  text-decoration: none;
  color: #ffffff;
}

.desktop-ADICIONAR {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-ADICIONAR .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.desktop-ADICIONAR .overlap {
  position: absolute;
  width: 1312px;
  height: 950px;
  top: 112px;
  left: 543px;
}

.desktop-ADICIONAR .overlap-group {
  position: absolute;
  width: 1217px;
  height: 897px;
  top: 54px;
  left: 95px;
}

.desktop-ADICIONAR .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16.12px;
  position: absolute;
  top: 0;
  left: 1012px;
}

.desktop-ADICIONAR .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.34px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16.1px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-ADICIONAR .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22.84px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-ADICIONAR .ultimo-acesso {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12.09px;
  padding: 13.43px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-ADICIONAR .ellipse {
  position: relative;
  width: 80.6px;
  height: 80.6px;
  object-fit: cover;
}

.desktop-ADICIONAR .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop-ADICIONAR .nome {
  position: relative;
  width: fit-content;
  margin-top: -1.34px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-ADICIONAR .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 10.7px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-ADICIONAR .div-wrapper {
  display: flex;
  width: 1006px;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 570px;
  left: 8px;
}

.desktop-ADICIONAR .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-ADICIONAR .frame-4 {
  display: flex;
  flex-direction: column;
  width: 910px;
  height: 234px;
  align-items: center;
  gap: 24px;
  padding: 22.79px 37.98px;
  position: absolute;
  top: 610px;
  left: 0;
  border-radius: 12.15px;
  overflow: hidden;
  border: 1.52px solid;
  border-color: #0000001a;
}

.desktop-ADICIONAR .frame-5 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop-ADICIONAR .lista {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 0px 7.6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 0.76px;
  border-bottom-style: solid;
  border-color: var(--collection-1-ROXO-ESCURO-CONTRASTE);
}

.desktop-ADICIONAR .frame-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 7.6px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-ADICIONAR .checkmark {
  position: relative;
  width: 18px;
  height: 18px;
}

.desktop-ADICIONAR .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.52px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--cor-escura-121619);
  font-size: 15.2px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-ADICIONAR .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.52px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--collection-1-ROXO-ESCURO-CONTRASTE);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-ADICIONAR .frame-7 {
  position: relative;
  flex: 0 0 auto;
}

.desktop-ADICIONAR .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -0.76px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--collection-1-ROXO-ESCURO-CONTRASTE);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-ADICIONAR .checkmark-2 {
  position: relative;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--cor-escura-121619);
  width: 18px;
  height: 18px;
}



.desktop-ADICIONAR .text-wrapper-6 {
  margin-top: -1.52px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15.2px;
  position: relative;
  width: fit-content;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-ADICIONAR .overlap-2 {
  position: absolute;
  width: 756px;
  height: 75px;
  top: 94px;
  left: 167px;
  border-radius: 8px;
}

.desktop-ADICIONAR .frame-9 {
  display: flex;
  width: 756px;
  height: 75px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 75%;
  left: 0;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--collection-1-AMARELO-OVO);
}

.desktop-ADICIONAR .text-wrapper-7 {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #00000099;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 20px; 
  border-radius: 5px;
}

.desktop-ADICIONAR .overlap-3 {
  position: absolute;
  width: 759px;
  height: 75px;
  top: 262px;
  left: 164px;
  border-radius: 8px;
}

.desktop-ADICIONAR .frame-10 {
  display: flex;
  width: 759px;
  height: 75px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--collection-1-AMARELO-OVO);
}

.desktop-ADICIONAR .icon-minus-circle {
  position: relative;
  width: 16px;
  height: 16px;
}

.desktop-ADICIONAR .icon-add-circle-plus {
  position: relative;
  width: 17.6px;
  height: 17.6px;
}

.desktop-ADICIONAR .text-wrapper-8:focus {
  border: none;
}

.desktop-ADICIONAR .text-wrapper-8-1 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #00000099;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-ADICIONAR .frame-12 {
  display: flex;
  width: 570px;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 410px;
  left: 264px;
}

.desktop-ADICIONAR .frame-13 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
}

.desktop-ADICIONAR .icon-calendar {
  position: relative;
  width: 15.17px;
  height: 16.72px;
  margin-right: -0.58px;
}



.desktop-ADICIONAR .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  padding: 10px 20px;
  background-color: #47026c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  
}


.desktop-ADICIONAR .overlap-4 {
  position: absolute;
  width: 1013px;
  height: 60px;
  top: 0;
  left: 0;
}

.desktop-ADICIONAR .frame-15 {
  display: flex;
  width: 131px;
  height: 59px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 518px;
}

.desktop-ADICIONAR .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-left: -30.5px;
  margin-right: -30.5px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-ADICIONAR .frame-wrapper {
  display: flex;
  width: 393px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop-ADICIONAR .frame-16 {
  display: flex;
  height: 59px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #47026c;
}

.desktop-ADICIONAR .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #47026c;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-ADICIONAR .vector {
  top: 0;
  position: absolute;
  width: 1013px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.desktop-ADICIONAR .img {
  top: 59px;
  position: absolute;
  width: 1013px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.desktop-ADICIONAR .frame-17 {
  display: inline-flex;
  align-items: center;
  gap: 60px;
  position: absolute;
  top: 45px;
  left: 1652px;
}

.desktop-ADICIONAR .frame-18 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-ADICIONAR .frame-19 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-ADICIONAR .frame-20 {
  display: inline-flex;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-ADICIONAR .icon-bell-ringing {
  position: relative;
  width: 13.72px;
  height: 13.72px;
}

.desktop-ADICIONAR .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-ADICIONAR .frame-21 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px 4px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 5px;
  border: 0.5px solid;
  border-color: var(--collection-1-ROXO-ESCURO-CONTRASTE);
}

.desktop-ADICIONAR .ellipse-2 {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: var(--cor-verde-claro-09814a);
  border-radius: 3px;
}

.desktop-ADICIONAR .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: var(--cor-escura-121619);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-ADICIONAR .ellipse-3 {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: #d9d9d9;
  border-radius: 32px;
  border: 3px solid;
  border-color: var(--collection-1-ROXO-ESCURO-CONTRASTE);
}

.desktop-ADICIONAR .frame-22 {
  display: flex;
  width: 289px;
  align-items: center;
  gap: 10px;
  padding: 10px 10px 10px 25px;
  position: absolute;
  top: 51px;
  left: 518px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #f5cf0533;
}

.desktop-ADICIONAR .frame-23 {
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  margin-right: -19px;
  align-items: center;
  gap: 10px;
}

.desktop-ADICIONAR .img-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.desktop-ADICIONAR .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--collection-1-ROXO-ESCURO-CONTRASTE);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-ADICIONAR .checkmark-3 {
  position: absolute;
  top: 1667px;
  left: 2264px;
  width: 18px;
  height: 18px;
}

.desktop-ADICIONAR .overlap-5 {
  position: absolute;
  width: 430px;
  height: 1088px;
  top: -2px;
  left: -5px;
  background-color: #47026c;
  border-radius: 20px;
}

.desktop-ADICIONAR .group {
  position: absolute;
  width: 163px;
  height: 98px;
  top: 79px;
  left: 66px;
}

.desktop-ADICIONAR .overlap-group-2 {
  position: relative;
  width: 159px;
  height: 98px;
}

.desktop-ADICIONAR .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Modak", Helvetica;
  font-weight: 400;
  color: var(--collection-1-AMARELO-OVO);
  font-size: 60.1px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-ADICIONAR .text-wrapper-16 {
  position: absolute;
  top: 50px;
  left: 0;
  font-family: "Mogra", Helvetica;
  font-weight: 400;
  color: var(--collection-1-ROSA-CLARO-BEBE);
  font-size: 40.2px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-ADICIONAR .frame-24 {
  display: flex;
  width: 317px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 291px;
  left: 56px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e4afff1a;
}

.desktop-ADICIONAR .img-3 {
  position: relative;
  width: 24px;
  height: 24px;
}

.desktop-ADICIONAR .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-ADICIONAR .frame-25 {
  display: flex;
  width: 317px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 335px;
  left: 56px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e4afff1a;
}

.desktop-ADICIONAR .frame-26 {
  display: flex;
  width: 317px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 549px;
  left: 56px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e4afff1a;
}

.desktop-ADICIONAR .frame-27 {
  display: flex;
  width: 317px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  top: 379px;
  left: 56px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e4afff1a;
}

.desktop-ADICIONAR .frame-28 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-ADICIONAR .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--collection-1-AMARELO-OVO);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-ADICIONAR .frame-29 {
  display: flex;
  width: 289px;
  padding: 10px 10px 10px 25px;
  position: absolute;
  top: 423px;
  left: 70px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #f5cf0533;
  align-items: center;
  gap: 10px;
}

.desktop-ADICIONAR .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--collection-1-ROSA-BEM-CLARINHO-QUASE-BRANCO);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-ADICIONAR .frame-30 {
  display: flex;
  width: 289px;
  align-items: center;
  gap: 10px;
  padding: 10px 10px 10px 25px;
  position: absolute;
  top: 463px;
  left: 70px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #f5cf0533;
}

.desktop-ADICIONAR .frame-31 {
  display: flex;
  width: 317px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 505px;
  left: 56px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e4afff1a;
}

.desktop-ADICIONAR .rectangle {
  position: absolute;
  width: 204px;
  height: 13px;
  top: 967px;
  left: 125px;
  background-color: #f5cf05;
  border-radius: 23px;
}
.button-1 {
    color: #fff;
    border: none;
    cursor: pointer;
    width: 377px;
    padding: 10px;
    position: absolute;
    top: 520px;
    left: 339px;
    background-color: var(--collection-1-ROXO-ESCURO-CONTRASTE);
    border-radius: 8px;
     display: inline-block;
  }
  
  .button-1:hover {
    background-color: #8321a1;
  }

  .button {
    
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 7.6px 37.98px;
    position: absolute;
    top: 178px;
    left: 339px;
    background-color: var(--collection-1-ROXO-ESCURO-CONTRASTE);
    border-radius: 7.6px;
     display: inline-block;
  }
  
  .button:hover {
    background-color: #8321a1;
  }
  .frame-10 input[type="number"] {
   
    width: 100%; /* Define a largura do input como 100% do wrapper */
    padding: 10px; /* Adiciona espaço interno ao redor do texto dentro do input */
    border: 1px solid #ccc; /* Adiciona uma borda cinza */
    border-radius: 5px; /* Adiciona cantos arredondados */
    box-sizing: border-box; /* Garante que a largura inclua a borda e o preenchimento */
}
