:root {
    --cor-escura-121619: rgba(18, 22, 25, 1) !important;
    --cor-verde-claro-09814a: rgba(9,129,74,1) !important;
    --collection-1-ROXO-ESCURO-CONTRASTE: rgba(71, 2, 108, 1) !important;
    --collection-1-ROSA-CLARO-BEBE: rgba(200, 107, 250, 1) !important;
    --collection-1-ROSA-BEM-CLARINHO-QUASE-BRANCO: rgba(228, 175,255,1) !important;
    --collection-1-AMARELO-OVO: rgb(245, 207, 5) !important;
  }